{
  "extends": [ "wesbos/typescript"],
  "plugins": ["react"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "semi": false,
        "singleQuote": true,
        "endOfLine": "auto"
      }
    ],
    "react/self-closing-comp": ["error", {
      "component": true,
      "html": true
    }]
  }
}
