{
  "extends": [ "wesbos/typescript"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "semi": false,
        "singleQuote": true,
        "endOfLine": "auto"
      }
    ]
  }
}
