body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* print media query */
@media print {
  .no-print {
    display: none !important;
  }
  .printable-paper {
    border: none !important;
    box-shadow: none !important;
    margin: 0 !important;
    padding: 0 !important;

    max-width: 100% !important;
    min-width: 100% !important;
    width: 100% !important;
  }
}

